services:
  web:
    build: .
    ports:
      - "8000:80"
    depends_on:
      - db
    volumes:
      - ./:/var/www/html

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: book_with_users
    ports:
      - "3306:3306"
