<div>
        <h2>Most read types (%)</h2>
        <canvas id="types" width="400" height="400"></canvas>
        <ul>
                {% for type, count in types %}
                        <li>{{ type }} : {{ count }}</li>
                {% endfor %}
        </ul>
</div>
