.badge {
    border-radius: 5px;
    padding: 0 6px;
    white-space: nowrap;
}

.card {
    padding: 50px;
    border-radius: 10px;
}

.card-background {
    background: var(--fg-color);
    color: var(--bg-color);
}
