nav {
    display: grid;
    grid-template-columns: 3fr 2fr;
    border-bottom: 10px solid var(--fun-color);
}
nav div.user-menu {
    text-align: right;
}

/**
 * Show menu on hover
 */
.user-menu {
    position: relative;
    display: inline-block;
}
.nav-sub-menu-user {
    display: none;
    position: absolute;
    right: 10px;
    background: var(--bg-color);
    padding: 20px 10px 30px 10px ;
}
.user-menu:hover .nav-sub-menu-user {
    display: block;
}
