/*
 *  LIST
 */
ul, form {
    max-width: 1260px;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.book-list, form {
    width: 95vw;
}

li {
    padding: 5px;
    border-bottom: 1px dotted #aaa;
    width: 100%;
    white-space: nowrap;
}

li.books-list__item div {
    display: inline-block;
    padding: 5px;
    margin:0;
}

li.books-list__item div {
    white-space: normal;
}

li.books-list__item.reading {
    opacity: .5;
}

li.books-list__item.abandonned {
    opacity: .7;
}

li.books-list__item.abandonned div {
    text-decoration: line-through;
}

li.books-list__item, form.books-list__new {
    display: grid;
    grid-template-columns: .5fr 3fr 2fr 1fr 1fr 1.5fr .5fr;
    grid-gap: 6px;
}

li.active {
    background: #eee;
}


/** FORM
div.new-book form {
    white-space: nowrap;
}
div.new-book form div {
    display: inline-block;
}**/

/* FIRST LINE */
.list-header div {
    background: var(--fg-color);
    color: var(--bg-color);
    border-radius: 5px;

    padding: 5px;
}
.list-header.books-list__item div:first-child,
.list-header.books-list__item div:last-child {
    background: none;
}
