<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Books{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>📚</text></svg>">
    {% block stylesheets %}
        <style>
            {% set hasFavColor = currentUser is defined and currentUser is not empty and currentUser.favColor is not empty %}
            :root {
                --bg-color: #fff;
                --fg-color: {{ hasFavColor ? currentUser.favColor : '#04c062' }};
                --link-color: black;
                --fun-color: {{ hasFavColor ? currentUser.favColor|lighter(50) : '#C3FF0D' }};
            }
            {% include 'css/base.css' %}
            {% include 'css/components.css' %}
            {% include 'css/table.css' %}
            {% include 'css/edition.css' %}
            {% include 'css/tags.css' %}
            {% include 'css/notes.css' %}
            {% include 'css/login.css' %}
            {% include 'css/input.css' %}
            {% include 'css/nav.css' %}
            {% include 'css/stats.css' %}
            {% include 'css/confettis.css' %}
        </style>
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>

<nav>
    {% block nav %}
        {% if currentUser is defined and currentUser is not empty %}
            {% include 'user/nav.html.twig' %}
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    {% endblock %}
</nav>
<main>

    <h1>{% block mainTitle %}<a href="/">Books</a>{% endblock %}</h1>

    {% block content %}{% endblock %}

</main>
</body>
</html>
