    <li class="books-list__item list-header">
        <div></div>
        <div class="title-item">
            title
        </div>
        <div class="author-item">
            author
            {% if filter.author is defined %} <a href="/">×</a> {% endif %}
            {% if sort is defined and sort[0] == 'author' %}
                <a href="/">×</a>
            {% else %}
                <a href="?order[author]=asc">▼</a>
            {% endif %}
        </div>
        <div class="type-item">
            type
            {% if filter.type is defined %} <a href="/">×</a> {% endif %}
        </div>
        <div class="note-item">
            note
            {% if filter.note is defined %} <a href="/">×</a> {% endif %}
            {% if sort is defined and sort[0] == 'note' %} <a href="/">×</a>
            {% else %} <a href="?order[note]=desc">▼</a>
            {% endif %}
        </div>
        <div class="finished-at-item">
            finished
        </div>
        <div></div>
    </li>
