{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block mainTitle %}
    Users
{% endblock %}

{% block content %}
    <ul>
        {% for user in users %}
            <li>
                <a href="{{ path('list_books_for_user', {'username': user.username}) }}">
                    {{ user.username }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
