{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
    <ul id="user-list" class="align-center">
        <li class="list-header grid grid2">
            <div>Username</div>
            <div>Last viewed at</div>
        </li>
        {% for user in users %}
            <li class="grid grid2 user-list__item">
                <div>
                    <a href="{{ path('list_books_for_user', {'username': user.username}) }}">
                        {{ user.username }}
                    </a>
                </div>
                <div>{{ user.lastConnectedAt|date('Y⋅m⋅d') }}</div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
