<div class="nav-settings">

    <img src="/img/gear.png" alt="settings" width="24" height="24"></a> Hello {{ currentUser.username }} !
    <ul class="nav-sub-menu-user">
        <li>
            <a href="{{ path('logout') }}">Logout</a>
        </li>
        <li>
            <a href="{{ path('settings') }}">App settings</a>
        </li>
    </ul>
</div>
