{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block content %}

    <form method="POST" action="{{ path('settings_color') }}" id="settings">
        <div>
            <label>
                Change app color
                <input type="color" name="color" placeholder="color" />
            </label>
        </div>
        <div>
            <button type="submit" class="button-small">change color</button>
        </div>
    </form>

    <hr>


{% endblock %}
